version: '3'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs:ro
      - /etc/nginx/vhost.d
      - /usr/share/nginx/html
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy=true"
    environment:
      - HTTPS_METHOD=noredirect
    restart:    always

  whoami:
    image: jwilder/whoami
    container_name: whoami
    environment:
      - VIRTUAL_HOST=whoami.local

  nginx-letsencrypt:
    image:              jrcs/letsencrypt-nginx-proxy-companion
    container_name:     nginx-letsencrypt
    volumes:
      - nginx-proxy
    volumes:
      - ./certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart:    always
    environment:
        - DEBUG=true

  net-chizography:
    #image:              dockerchizography_chizography-preview
    build:              ../../docker-chizography/
    container_name:     net-chizography
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=chizography.net
      - LETSENCRYPT_EMAIL=chisel@chizography.net
      - LETSENCRYPT_HOST=chizography.net
      - HTTPS_METHOD=redirect
    restart:    always

  net-chizography-preview:
    #image:              dockerchizography_chizography-preview
    build:              ../sites/site-chizography.net/
    container_name:     net-chizography-preview
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=preview.chizography.net
      - LETSENCRYPT_EMAIL=chisel@chizography.net
      - LETSENCRYPT_HOST=preview.chizography.net
      - HTTPS_METHOD=redirect
    restart:    always

  uk-hameraasfa:
    build:              ../sites/site-hameraasfa.uk
    container_name:     uk-hameraasfa
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=hameraasfa.uk
      - LETSENCRYPT_EMAIL=chisel@chizography.net
      - LETSENCRYPT_HOST=hameraasfa.uk
      - HTTPS_METHOD=redirect
    restart:    always

  com-secretcthulhu:
      build:            ../sites/site-secret-cthulhu.com/
      container_name:   com-secretcthulhu
      expose:
        - 80
      environment:
        - JEKYLL_ENV=production
        - VIRTUAL_HOST=secret-cthulhu.com,secretcthulhu.com
        - LETSENCRYPT_EMAIL=game@secret-cthulhu.com
        - LETSENCRYPT_HOST=secret-cthulhu.com,secretcthulhu.com
        - HTTPS_METHOD=redirect
