version: '2'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs:rw
      - ./vhost.d:/etc/nginx/vhost.d:rw
      - usr-share-nginx-html:/usr/share/nginx/html
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy=true"
    environment:
      - HTTPS_METHOD=noredirect
    restart:    always

  whoami:
    image: jwilder/whoami
    container_name: whoami
    environment:
      - VIRTUAL_HOST=whoami.local

  nginx-letsencrypt:
    image:              jrcs/letsencrypt-nginx-proxy-companion
    container_name:     nginx-letsencrypt
    volumes_from:
      - nginx-proxy
    restart:    always
    environment:
        - DEBUG=true
        - DEFAULT_EMAIL=chisel@chizography.net
    depends_on:
      - nginx-proxy

  jekyll-base:
    build:              ../sites/jekyll-site-base
    image:              jekyll-base:composed

  net-chizography:
    build:              ../sites/site-chizography.net/
    container_name:     net-chizography
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=chizography.net
      - LETSENCRYPT_EMAIL=chisel@chizography.net
      - LETSENCRYPT_HOST=chizography.net
      - HTTPS_METHOD=redirect
    restart:    always
    depends_on:
      - nginx-letsencrypt
      - nginx-proxy

  net-chizography-preview:
    build:
      context: ../sites/site-chizography.net/
      args:
          - jekyll_overrides=_config.preview.yml
    container_name:     net-chizography-preview
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=preview.chizography.net
      - LETSENCRYPT_EMAIL=chisel@chizography.net
      - LETSENCRYPT_HOST=preview.chizography.net
      - HTTPS_METHOD=redirect
    restart:    always
    depends_on:
      - nginx-letsencrypt
      - nginx-proxy
      - jekyll-base

  uk-hameraasfa:
    build:              ../sites/site-hameraasfa.uk
    container_name:     uk-hameraasfa
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=hameraasfa.uk
      - LETSENCRYPT_EMAIL=chisel@chizography.net
      - LETSENCRYPT_HOST=hameraasfa.uk
      - HTTPS_METHOD=redirect
    restart:    always
    depends_on:
      - nginx-letsencrypt
      - nginx-proxy

  com-secretcthulhu:
    build:            ../sites/site-secret-cthulhu.com/
    container_name:   com-secretcthulhu
    expose:
      - 80
    environment:
      - JEKYLL_ENV=production
      - VIRTUAL_HOST=secret-cthulhu.com,secretcthulhu.com
      - LETSENCRYPT_EMAIL=game@secret-cthulhu.com
      - LETSENCRYPT_HOST=secret-cthulhu.com,secretcthulhu.com
      - HTTPS_METHOD=redirect
    depends_on:
      - nginx-letsencrypt
      - nginx-proxy
      - jekyll-base

  com-theboardingparty:
    build:            ../sites/site-theboardingparty.com/
    container_name:   com-theboardingparty
    expose:
      - 80
    environment:
      - JEKYLL_ENV=production
      - VIRTUAL_HOST=theboardingparty.com
      - LETSENCRYPT_EMAIL=chisel@theboardingparty.com
      - LETSENCRYPT_HOST=theboardingparty.com
      - HTTPS_METHOD=redirect
    depends_on:
      - nginx-letsencrypt
      - nginx-proxy
      - jekyll-base

volumes:
  usr-share-nginx-html:
